{% extends 'base.html' %}

{% block main %}
<h4>{{ prepod.name }}</h4>
<p class="text-secondary">По шкале от 1 до 5 оцените преподавателя по следующим вопросам:</p>
<br><br>
<form method="POST" action="{% url 'submit_ratings' %}">
    {% csrf_token %}
    {% for question in questions %}
    <section class="row">
        <h6 class="col-5">{{ question.title }}</h6>
        <div class="col-6">
            <div class="star-rating" data-rating-id="{{ question.id }}">
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
                <input type="hidden" name="rating_{{ question.id }}" value="0">
            </div>
        </div>
    </section>
    <input type="hidden" name="prepod_id" value="{{ prepod.id }}">
    <div class="col-8">
        <hr>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Отправить оценки</button>
</form>

{% include 'includes/star-input.html' %}
{% endblock %}
